<div>
	Original Url: <a href=<%= @url.original_url %> > <%= @url.original_url %> </a>
</div>

<div> 
	Shortened Url: <a href="http://urlbits.herokuapp.com/rd/id:<%= @url.shortened_url %>"> urlbits.herokuapp/rd/<%= @url.shortened_url %> </a>
</div>