
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@url) do |f| %>
			<%= f.label :original_url, "original_url" %>
			<%= f.text_field :original_url %>

			<%= f.submit "Create Url", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>


<div class="home_title">urlbits</div>
<div class="home_description">shorten your URLs now!</div>
<div class="sign_up_btn">
	<a class="btn btn-warning">Sign Up Now!</a>
</div>


