
body {
	padding-top: 60px;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  line-height: 1;
}

.logo:hover {
  color: orange;
  text-decoration: none;
}

.nav-area {
	margin: 15px 10px;
	a {
		text-decoration: none;
		color: white;
		font-size: 1.1em;
	}
	a:hover {
		text-decoration: none;
		color: orange;
	}
}

.home_title {
	position: relative;
	color: blue;
	top: 100px;
	font-size: 5em;
	font-weight: bold;
	margin: 0px auto;
	width: 300px;
	text-align: center;
}

.home_description {
	position: relative;
	color: orange;
	top: 140px;
	margin: 0px auto;
	width: 300px;
	font-size: 2em;
	line-height: 1.5
}

.sign_up_btn {
	position: relative;
	top: 160px;
	margin: 0px auto;
	width: 300px;
}

.url_list {
	list-style: none;
	margin-top: 50px;
	li {
		border-bottom: 3px solid black;
	}
}