<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <%= link_to "urlbits", root_path, class: "logo" %>
      <div class="pull-right nav-area">
 				<%= link_to "All Urls", urls_path %>
 			</div>
    </div>
  </div>
</div>